{% if pagination.pages is not empty %}
<nav class="pagination" aria-label="Page navigation">
    <ul>

        {% if pagination.prev %}
        <li>
            <a href="{{ pagination.prev.link }}" rel="prev">Previous</a>
        </li>
        {% endif %}

        {% for page in pagination.pages %}
        <li>
            {% if page.class == 'dots' %}
                <span>{{ page.title }}</span>
            {% else %}
                <a href="{{ page.link }}" aria-current="{{ page.current ? 'page' : '' }}">{{ page.title }}</a>
            {% endif %}
        </li>
        {% endfor %}

        {% if pagination.next %}
        <li>
            <a href="{{ pagination.next.link }}" rel="next">Next</a>
        </li>
        {% endif %}

    </ul>
</nav>
{% endif %}
